.tip-container {
  width: 80px;
  padding: 5px 0;
  background-color: hsl(183, 100%, 15%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
}
.tip-container:hover {
  background-color: hsl(172, 67%, 45%);
}

.custom-input {
  width: 80px;
  padding: 5px 5px 5px 0;
  border-radius: 4px;
  border: none;
  outline: none;
  color: hsl(183, 100%, 15%);
  caret-color: hsl(183, 100%, 15%);
  font-weight: bolder;
}
.custom-input::placeholder{
    color: hsl(186, 14%, 43%);

}
.custom-input:focus {
  border: hsl(184, 14%, 56%) solid 1.5px;
  border-radius: 5px;
}

.custom-input::-webkit-outer-spin-button,
.custom-input::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  display: none;
}
.custom-input {
  -moz-appearance: textfield;
  text-align: right;
}
.custom-input::placeholder{
  text-align: center;
}